body{
    background-color: #000;
    transition: all 1s;
}

*{
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 0.3px 2px #000;
    background-color: #fff;
    height: 8vh;
}
.nav-link{
    list-style: none;
    gap: 5rem;
}
main{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transform : translateY(10rem);
}
.container h2{
    color: #fff;
}
.container span{
    color: #fff;
}
.btn-hero{
    margin: 1rem;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
}